@font-face{
    font-family: AbrilFatface;
	src: url(../fonts/AbrilFatface-Regular.ttf);
} 
.container{
	display: flex;
	/* margin: auto;
	overflow: hidden; */
}
.container .container-bottom{
	align-items: flex-end;
}
header{
	background-color: #333;
	list-style-type: none;
	margin: 0;
	padding: 10px 0px;
	overflow: hidden;
}
header .container{
	max-height: 50px;
}
header .box-1{	
	display: flex;	
	flex: 1;
}
header .box-2{
	display: flex;
	flex: 4;
	justify-content: flex-end;
}
header .menu-icon img{
	height: 40px;
	filter: invert(70%);
}
header .icon-burger img{
	display: inline;
	margin: 0 10px;
}
header .button-login{
	margin: 0 10px;
}
header nav{
	display: none;
}
header ul{
	margin: 0;
	padding: 0;
}
header li{
	float: left;
	display: inline;
}
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
header li a:hover:not(.active) {
	background-color: #111;
}
header li .active {
	background-color: #585858;
}
.menu-button{
	background-color: #EEE;
	border: 2px solid #555;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	height: 40px;
	width: 80px;
}  
.menu-button:hover {
	background-color: #888;
	color: white;
}




#showcase{
	min-height: 180px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid grey;
	width: 100%;
	margin-top: 10px;
}
#showcase .container{
	margin-top: 10px;
	flex-direction: column;
}
#showcase .img-logo{
	margin-top: 10px;
}
#showcase .box-1{
	display: block;
	margin-top: 10px;
}
#showcase .box-2{
	display: block;
}
#showcase .date{
	font-family: sans-serif; 
	color: #666;
	display: block;
	margin-top: 16px;
	text-align: left;
	padding: 0 16px 4px 16px;	
}


@media(min-width: 768px){	
	header .icon-burger img{
		display: none;
	}	
	header nav{
		display: inline-block;
	}	
	header .box-1{	
		display: flex;	
		flex: 10;
	}
	header .box-2{
		display: flex;
		flex: 1;
		justify-content: flex-end;
	}


	#showcase .container{
		flex-direction: row;
	}
	#showcase{
		min-height: 160px;
	}
	#showcase .box-1{
		display: flex;
		order: 1;
		padding: 10px 0;
		width: 50%;
	}
	
	#showcase .box-2{
		display: flex;
		order: 2;
		padding: 10px 0;
		margin-right: 20px;
		width: 50%;      
		justify-content: flex-end;
		align-self: flex-end;
	}
}