@font-face{
    font-family: AbrilFatface;
	src: url(../fonts/AbrilFatface-Regular.ttf);
} 



.container{
	width: 85%;
	margin: auto;
	overflow: hidden;
}

header{
	background-color: #333;
	list-style-type: none;
	margin: 0;
	padding: 8px 0px;
	overflow: hidden;
	min-height: 50px;
}
header ul{
	margin: 0;
	padding: 0;
}
header li{
	float: left;
	display: inline;
	/* border-right:1px solid #bbb; */
}
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header li a:hover:not(.active) {
	background-color: #111;
}

header li .active {
	/* background-color: #4CAF50; */
	background-color: #585858;
}


#showcase{
	min-height: 180px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid grey;
	width: 100%;
	/*background-image: url("../img/showcase_background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;*/
}
#showcase .img_logo{
	margin-top: 10px;
}
#showcase p{
	margin-top: 10px;
}


#main{
	margin-top: 20px;

}
#main .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
#main .img{
	width: 100%;
}
#main h2{
	font-family: 'AbrilFatface', Arial, Helvetica, sans-serif; 
	font-size: 24px;
	font-weight: bold; 
	line-height: normal;
	/* letter-spacing: 1px; */
	padding: 8px;
}
#main p{
	font-family: sans-serif; 
	text-align: left;
	font-size: px;
	line-height: normal;
	padding-top: 8px;
}

/*mobile*/
@media(max-width: 768px){
	#main img{
		width: 100%;
	}
	header nav{
		display: none;
	}
	header .icon-burger{
		display: flex;
	}

	#main .box{
		float:none;
		text-align: center;
		width: 100%;
	}
}








header .menu-icon img{
	height: 40px;
	filter: invert(70%);
}
header .icon-burger img{
	display: none;
	float: left;
}
/*
header .icon-search img{
	float: right;
}
header .button-login{
	float: right;
}
.my-header .logo img{
	height: 100px;
}
.menu-button{
	background-color: white;
	border: 2px solid #555555;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	height: 40px;
	width: 80px;
}  
.menu-button:hover {
	background-color: #555555;
	color: white;
}

 

