@font-face{
    font-family: AbrilFatface;
	src: url(../fonts/AbrilFatface-Regular.ttf);
} 
.container{
	display: flex;
	/* margin: auto;
	overflow: hidden; */
}
.container .container-bottom{
	align-items: flex-end;
}
header{
	background-color: #333;
	list-style-type: none;
	margin: 0;
	padding: 10px 0px;
	overflow: hidden;
}
header .container{
	max-height: 50px;
}
header .box-1{	
	display: flex;	
	flex: 1;
}
header .box-2{
	display: flex;
	flex: 4;
	justify-content: flex-end;
}
header .menu-icon img{
	height: 40px;
	filter: invert(70%);
}
header .icon-burger img{
	display: inline;
	margin: 0 10px;
}
header .button-login{
	margin: 0 10px;
}
header nav{
	display: none;
}
header ul{
	margin: 0 10px;
	padding: 0;
}
header li{
	float: left;
	display: inline;
}
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
header li a:hover:not(.active) {
	background-color: #111;
}
header li .active {
	background-color: #585858;
}
.menu-button{
	background-color: #EEE;
	border: 2px solid #555;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	height: 40px;
	width: 80px;
}  
.menu-button:hover {
	background-color: #888;
	color: white;
}
#showcase{
	min-height: 140px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid grey;
	width: 100%;
	margin-top: 10px;
}
#showcase .container{
	margin-top: 10px;
	flex-direction: column;
}
#showcase .container .container-img{
	margin-top: 10px;
	flex-direction: column;
}
#showcase .img-logo img{
	margin-top: 10px;
	width: 100%;
}
#showcase .box-img{
	display: block;
	width: 50%;
	align-self: center;
	min-width: 280px;  
}
#showcase .box-1{
	display: block;
	margin-top: 10px;
}
#showcase .box-2{
	display: block;
}
#showcase .date{
	font-family: sans-serif; 
	color: #666;
	display: block;
	margin-top: 16px;
	text-align: left;
	padding: 0 16px 4px 16px;	
}

#weather{
	border-bottom: 1px solid grey;
}
#weather .box-temperature{
	display: flex;
	order: 1;
	padding: 10px 0;
	width: 50%;
	margin-left: 5%;
}
 #weather .box-other{
	display: flex;
	order: 2;
	padding: 10px 0;
	width: 50%;	
	margin-right: 5%; 
}
#weather .box-temperature img{
	display: inline;
	height: 100%;
	max-height: 64px;
}
#weather .box-temperature .temp-value{
	display: inline-flex;
}
#weather .box-temperature .value{
	display: inline;
	font-size: 56px;
	vertical-align: top;
}
#weather .box-temperature .unit{
	display: inline;
	vertical-align: top;
	font-size: 32px;
}
#weather .other-weather .prep,
#weather .other-weather .hum,
#weather .other-weather .wind{
	display: inline-block;
	padding: 2px;
	font-size: 18px;
}


/*
#main{
	margin-top: 20px;
	border-bottom: 1px solid grey;
}
#main .box{
	float:none;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid grey;
}
#main .box:last-child{
	border-bottom: 0;
}
#main a{
	text-decoration: none;
}
#main a:visited{
	color: black;
}
#main img{
	width: 100%;
}
#main h2{
	font-family: 'AbrilFatface', Arial, Helvetica, sans-serif; 
	font-size: 24px;
	font-weight: bold; 
	line-height: normal;
	padding: 8px;
}
#main p{
	font-family: sans-serif; 
	text-align: left;
	font-size: 16px;
	line-height: normal;
	padding-top: 8px;
}
#secondary{
	margin-top: 20px;
	border-bottom: 1px solid grey;
}
#secondary a{
	text-decoration: none;
}
#secondary a:visited{
	color: black;
}
#secondary .box{
	display: flex;
	float:none;
	text-align: left;
	width: 100%;
	padding: 10px 0;
	align-items:top;
	padding: 10px 0;
	border-bottom: 1px solid grey;
}
#secondary .box:last-child{
	border-bottom: 0;
}
#secondary img{
	display: inline;
	width:40%;
	height: auto;
	max-height: 150px;
}
#secondary h3{
	display: inline;
	font-family: 'AbrilFatface', Arial, Helvetica, sans-serif; 
	text-align: left;
	font-size: 16px;
	line-height: normal;
	padding-left: 5px;
}*/


footer .box-1{
	padding: 10px 0;
	width: 50%;
	max-width: 250px;
	margin-left: 5%;
}
footer .box-2{
	display: inline-block;
	padding: 10px 5px;
	width: 50%;
	margin-right: 5%;
}
footer .box-3{
	display: flex;
	padding: 10px 0;
	width: 100%;
	margin-left: 5%;
}
footer img{
	width: 100%;
}
footer p{
	padding-bottom: 5px;
	font-size: 14px;
}

@media(min-width: 768px){	
	header .icon-burger img{
		display: none;
	}	
	header nav{
		display: inline-block;
	}	
	header .box-1{	
		display: flex;	
		flex: 10;
	}
	header .box-2{
		display: flex;
		flex: 1;
		justify-content: flex-end;
	}
	#showcase .container{
		flex-direction: row;
	}
	#showcase{
		min-height: 140px;
	}
	#showcase .box-1{
		display: flex;
		order: 1;
		padding: 10px 0;
		width: 50%;
	}
	#showcase .box-2{
		display: flex;
		order: 2;
		padding: 10px 0;
		margin-right: 20px;
		width: 50%;      
		justify-content: flex-end;
		align-self: flex-end;
	}
	#showcase .img-logo img{
		width: 390px;
	}  
	#showcase .box-img{
		width: 100%;
	}

	#weather .box-temperature{
		width: 20%;
		margin-left: 20%;
	}
	#weather .box-other{
		width: 80%;	
		margin-right: 20%; 
		margin-left: 10%; 
		justify-self: center;
	}
	#weather .box-temperature .value{
		font-size: 56px;
	}
	#weather .other-weather .prep,
	#weather .other-weather .hum,
	#weather .other-weather .wind{
		font-size: 24px;
	}
	#weather .other-weather{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	
/*
	#main .box{
		float: left;
		width: 30%;		
	}
	#secondary .box{
		display: flex;
		align-items:top;
		float: left;
		text-align: left;
		width: 30%;
		padding: 10px 0;
	}*/
}